<h5>Tables of {{dbname}}{{originalurl}}</h5>

 {{#if tables}}
<!-- <form method="POST" action="showtables"> -->
 {{#each tables}}
			<a href="showtableinfo/{{this.tables}}" class="btn btn-primary btn-block" name="tblname">{{this.tables}}</a>
	{{/each}}
	<!--</form>-->
 {{else}}
 	<h6>No Database Found</h6>
 {{/if}}
